.main-container {
    display: flex;
    flex-direction: row;
    /* This ensures the table and map are in a row */
}


.crime-table {
    width: 57dvw;
    max-width: 57dvw;
    margin: 0 auto;
    border-spacing: 40px 0;
    z-index: 3;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.crime-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.crime-table-data {
    text-align: center;
    vertical-align: middle;

}


.crime {
    padding: 10px;
    color: #e4e4e4;
    font-family: "Roboto Mono", monospace;
    border-radius: 8px;
    background-color: #313035;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.90);
}




.crime-rate {
    color: rgb(180, 68, 68);
}


.hovered {
    /* highlight neighborhood */
    fill: #3E4870;
}

.color-click{
    fill: #873a3a;
}

#neighborhood-selecter {
    font-family: "Roboto Mono", monospace;
    color: #e4e4e4;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
    background-color: #313035;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.90);
    /* Adjust the values as needed */
}


.crime-container {
    font-family: "Roboto Mono", monospace;
    color: #e4e4e4;
    border-radius: 12px;

    height: 36dvh;
    margin-top: 3lvh;
    position: relative;
    background-color: #313035;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.90);
    /* Adjust the values as needed */
    text-align: left;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    padding: 4vh;
}


#number-of-crimes {
    color: #e4c776;
    font-size: 12px;
}


.crime-header {
    display: flex;
    justify-content: space-between;
}

.crime-header h2 {
    margin: 0;
    font-size: 13px;
    padding-left: 0.4dvw;
}


.crime-table-container {
    flex-grow: 1;
    overflow: auto;
    padding-top: 10px;
}

