[type="date"]{
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;

  color: #e4e4e4;
  /* background-color: #191919;; */
  background-color: #313035;
  padding: 0.6dvw;
  padding-right: 1.6dvw;
  position: relative;
  border-radius: 1dvh;
  /* width: 7.3dvw; */
  width: fit-content;
  height: fit-content;
  /* display: flex; */
  /* justify-content: space-between; */
  border: none;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.90);
}
  
::-webkit-calendar-picker-indicator{
  background-color: #e4e4e4;

  opacity: 0.9;
  padding: 0.6dvh;
  cursor: pointer;
  border-radius: 3px;
  transform: translateX(35%);
}
:focus {
  outline: none;
}


#date {
  position: absolute;
  right: 2dvw;
  top: 13dvh;
  z-index: 5;
}

#submitBtn {
  position: absolute;
  font-family: "Roboto Mono", monospace;
  font-size: 0.7em;
  right: 2dvw;
  top: 20dvh; 
  padding-right: 0.8dvw;
  padding-left: 0.8dvw;
  padding-top: 0.6dvh;
  padding-bottom: 0.6dvh;
  z-index: 5;
  color: #e4e4e4;
  border-radius: 1dvh;
  background-color: #313035;
  border: none;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.90);

  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#submitBtn:active {
  transform: scale(0.95); /* Adjust the scale factor as needed */
}