.weather-container {
    font-family: "Roboto Mono", monospace;
    color: #e4e4e4;
    border-radius: 9px;
    height: 42dvh;
    margin-top: 3lvh;
    position: relative;
    background-color: #313035;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.90);
    overflow: auto; /* Add overflow property to handle scrolling */
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding: 1vh;
}

.weather-table {
    width: 100%; /* Set width to 100% to fill the container */
    border-collapse: collapse;
    margin-top: 1px;
    background-color: #313035;
    color: #fff;
}

.weather-th {
    padding: 8px; /* Simplify padding */
    text-align: left;
}

.weather-td {
    /* border:  1px solid #e4e4e4; */
    padding: 8px; /* Simplify padding */
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

.weather-header {
    display: flex;
    align-items: center;
}

.weather-logo {
    width: 15px;
    height: 15px;
}

.weather-title {
    font-size: 1.1em;
    color: #e4e4e4;
    margin-left: 1vw; /* Adjust margin-left value */
}

.weather-icon {
    width: 15px;
    height: 15px;
    display: block;
    margin: 0 auto;
}

.weather-temp-bar {
    display: flex;
    align-items: center;
    width: 30%;
    height: 0.7dvh;
    border-radius: 6dvh;
    background-color: #4e4e4e;
    overflow: hidden;
}



.weather-temp-indicator {
    height: 100%;
    border-radius: 6dvh;
    background: linear-gradient(to right,
        #40aefd 0%, /* 0% corresponds to 20 degrees F */
        #4fb9fb 20%, /* 20% corresponds to 30 degrees F */
        #5ad0e5 40%, /* 40% corresponds to 40 degrees F */
        #91cda8 60%, /* 60% corresponds to 52 degrees F */
        #b2cc92 80%, /* 80% corresponds to 65 degrees F */
        #f69700 100% /* 100% corresponds to 79 degrees F */
    );
    position: relative;
}



.weather-temp-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 11dvw;
    margin-left: -1dvw;
    margin-right: -1dvw;
}

.weather-min-temp,
.weather-max-temp {
    text-align: center;
    flex: 1;
    font-size: 12px;
}


